body {
    margin-top: 60px;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    margin-top: -10px;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-image: url("../images/banner.jpeg");
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #fff;
}

.jumbotron h1{
    font-weight: 500;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.album {
    min-height: 50rem;
    /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #a79999;
}

.card-image-top {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 10px;
}

.card {
    text-align: center;
    border-radius: 10px;
}

.card-text {
    padding: 0 20px 20px 20px;
}

h1{
    font-weight: 100;
}

h5{
    font-weight: 100;
}

.panel{
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    padding-bottom: 41px;
    border-radius: 10px;
}

a{
    text-decoration: none !important;
    color: #343A40;
}

.lead{
    padding-left: 20px;
    padding-right: 20px;
}
/* Footer */

footer {
    margin-top: 200px;
    background-color: #343A40;
    color: white;
    padding: 18px 0 8px 0;
    text-align: center;
}

footer a {
    color: white;
}

footer p {
    margin-right: 30px;
}